

.container-one {
    padding: 10px;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    text-align: center;
    background-color: #CAF7E2;
    width: 75%;
    margin: auto;
}


.container-one h2 {
    padding: 10px;
    color: #1D1A31;
}

.flex-box-container-one {
    border: 1px solid #797D81;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #CAF7E2;
}

.flex-box-container-one div {
    padding: 10px;
    display: flex;
    align-items: center;
}

